* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f7f3e9; 
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px;
}

header {
    background-color: #f4c7ab; 
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

header h1 {
    margin: 0;
    color: #524f52; 
}

a svg {
    fill: #000000; /* Cambia #000000 por el color que prefieras, como #ff0000 para rojo */
}

.principal {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    margin-top: 10px;
}


.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    background-color: #c5aaaa;
    border-radius: 8px;
    gap: 1rem; 
    height: auto;
}



.clothes_container {
    background-color: #f1ebe3; /* Color pastel beige */
    border-radius: 10px;
    text-align: center;
    gap: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21rem;
    height: auto;
    justify-content: space-between;
    padding: 1rem; 
}



.clothes_container img {
    width: 7rem;
    height: auto;
    object-fit:contain;
}

.clothes_container h3 {
    color: #524f52;
    font-size: 1rem;
    margin: 10px; 
}

.clothes_container p {
    color:#000000; 
    font-size: 0.5rem;
    text-align: center;    
}

.clothes_container button {
    padding: 10px 20px;
    background-color: #a3b3a5; 
    color: white;
    border: black;
    border-radius: 8px;
}

.clothes_container button:hover {
    background-color: #9bb3a0; 
    cursor: pointer; 
}


.back_container {
    background-color: #ffffffa8;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
}

#cart {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #524f52;
}

#cart-count {
    font-weight: bold;
    margin-right: 5px;
}

#cart-total {
    font-weight: bold;
    color: #ff5733;
}

/* #realizarCompra {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
} */
